    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <!-- Header-bg Start -->
    <div class="header-w-bg p-2 " style="background-color: #29793a;">
      <div class="container">
          <div class="text-center">
              <h3 class="normal-text">About Us</h3>
              <p class="normal-text">Learn more about us and get to meet the team as well</p>
          </div>
      </div>  
  </div>
  <!-- Header-bg end -->
    <!-- About Us -->
    <section id="about" class="">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 order-md-2 mt-5">
                        <h2 class="featurette-heading"><span class="green-text fw-bold">What is ABUDevs?</span> <span class="text-muted">and how can it help me?</span></h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia maiores, quia magnam, tempora numquam perspiciatis saepe excepturi harum consequatur quisquam soluta atque! Nobis praesentium repudiandae aspernatur vel ipsa, ut non.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="{% static 'assets/img/slide03.jpg' %}" alt="image" class="img-fluid" width="500" height="500">
                    </div>
                </div>
                <!--Marketing Item End-->

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 mt-5">
                        <h2 class="featurette-heading header-color"><span class="green-text fw-bold">How do I join ABUDevs?</span> <span class="text-muted">It's really easy</span></h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, odit voluptate vel reprehenderit sint, blanditiis exercitationem porro illum rerum at quis nobis, excepturi omnis quidem dolore odio optio veniam est.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="{% static 'assets/img/slide02.jpg' %}" alt="image" width="500" height="500" class="img-fluid">
                    </div>
                </div>
                <!--Marketing Item End-->

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 order-md-2 mt-5">
                        <h2 class="featurette-heading header-color"><span class="green-text fw-bold">How do I connect with ABUDevs?</span> <span class="text-muted">It's quite simple</span></h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex maxime pariatur animi eius doloribus sequi aut iusto harum cupiditate? Doloribus perspiciatis, velit in quos voluptate maxime totam culpa cum atque.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="{% static 'assets/img/slide01.jpg' %}" alt="hdfhjdf" class="img-fluid">
                    </div>
                </div>
                <!--Marketing Item End-->
            </div>
        </div>
    </section>
    <!-- End -->

    <!-- Pure Counter Start -->
    <section id="counts" class="counts bg-light" data-aos="fade-in">
        <div class="container">
  
          <div class="row counters">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="50000" data-purecounter-duration="2" class="purecounter">i50000</span>
              <p class="fw-bold">Community</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="9800" data-purecounter-duration="2" class="purecounter">9800</span>
              <p class="fw-bold">Projects</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="180" data-purecounter-duration="2" class="purecounter">180</span>
              <p class="fw-bold">Partners
  
              </p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="24000" data-purecounter-duration="2" class="purecounter">24000</span>
              <p class="fw-bold">Opportunities Shared</p>
            </div>
  
          </div>
        </div>
      </section>
      <!-- Pure Counter End -->

      <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
            <div class="text-center">
                <h2 class="fw-bold green-text mb-3">Meet The Team</h2>
            </div>
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/Mubarak Aminu.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Mubarak Aminu</h4>
                  <span>President and Project Manager</span>
                  <p>
                    Bankai: Senbonzakura Kageyoshi
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Oluwatobi Ekundayo</h4>
                  <span>Lead Web Developer</span>
                  <p>
                    All I can say is that I'm Chad
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Abdullahi</h4>
                  <span>Lead Graphics Designer</span>
                  <p>
                    Great Graphics Design Guy
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Karen</h4>
                  <span>Content Lead</span>
                  <p>
                    Bankaiiiiiaiaiiaiaiaiiaiaiiaiai
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Aliyu Toheeb</h4>
                  <span>Project Management Lead</span>
                  <p>
                    Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Aliyu Toheeb</h4>
                  <span>Project Management Lead</span>
                  <p>
                    Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Smalia Tsingiri</h4>
                    <span>Welfare Officer</span>
                    <p>
                        Welfare for life gangsta🙂🙂🙂
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Pascal</h4>
                  <span>Chief Programmer</span>
                  <p>
                      Welfare for life gangsta🙂🙂🙂
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-envelope-fill"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Musa</h4>
                  <span>ML & AI Lead</span>
                  <p>
                      Machinesssssssssssss are intelligent
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Can't remember name</h4>
                  <span>Data Science</span>
                  <p>
                      Machinesssssssssssss are intelligent
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Saheed</h4>
                  <span>Cloud Lead</span>
                  <p>
                      Clouds are made of water vapour
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{% static 'assets/img/1.jpg' %}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Boss, no vex. I don forget your name</h4>
                  <span>UI/UX Lead</span>
                  <p>
                      Doing great shiiiiiiiiiiii
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Trainers Section -->
      {% endblock %}