    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <!-- Header-bg Start -->
    <div class="header-w-bg p-2 " style="background-color: #29793a;">
      <div class="container">
          <div class="text-center">
              <h3 class="normal-text">About Us</h3>
              <p class="normal-text">Learn more about us and get to meet the team as well</p>
          </div>
      </div>  
  </div>
  <!-- Header-bg end -->
    <!-- About Us -->
    <section id="about" class="">
        <div class="container-lg">
         <div class="container-lg">
            <div class="text-center">
                <h2 class="green-text fw-bold">About Us</h2>
            </div>
            <div class="row justify-content-center align-items-center">

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 order-md-2 mt-5">
                        <h2 class="featurette-heading"><span class="green-text fw-bold">What is ABUDevs?</span> <span class="text-muted">and how can it help me?</span></h2>
                        <p class="lead">ABUDevs is a student developer community based in Ahmadu Bello University, Zaria that aims to help student developers reach the peak of their career by providing them with the resources that they'd need to do so.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="{% static 'assets/img/slide03.jpg' %}" alt="image" class="img-fluid" width="500" height="500">
                    </div>
                </div>
                <!--Marketing Item End-->

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 mt-5">
                        <h2 class="featurette-heading header-color"><span class="green-text fw-bold">How do I join ABUDevs?</span> <span class="text-muted">It's really easy</span></h2>
                        <p class="lead">Joining the ABUDevs community isn't hard, all you need to do is <a href="{% url 'register' %}">sign up</a> and just like that, you're part of the family.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="{% static 'assets/img/slide02.jpg' %}" alt="image" width="500" height="500" class="img-fluid">
                    </div>
                </div>
                <!--Marketing Item End-->

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 order-md-2 mt-5">
                        <h2 class="featurette-heading header-color"><span class="green-text fw-bold">How do I connect with ABUDevs?</span> <span class="text-muted">It's quite simple</span></h2>
                        <p class="lead">Connecting with ABUDevs is really easy, all you need to do is send us a message via our <a href="{% url 'contact' %}">contact</a> form and we'll reach out to you.
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="{% static 'assets/img/slide01.jpg' %}" alt="hdfhjdf" class="img-fluid">
                    </div>
                </div>
                <!--Marketing Item End-->
            </div>
        </div>
    </section>
    <!-- End -->

    <!-- Pure Counter Start -->
    <section id="counts" class="counts bg-light" data-aos="fade-in">
        <div class="container">
  
          <div class="row counters">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="50000" data-purecounter-duration="2" class="purecounter">i50000</span>
              <p class="fw-bold">Community</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="9800" data-purecounter-duration="2" class="purecounter">9800</span>
              <p class="fw-bold">Projects</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="180" data-purecounter-duration="2" class="purecounter">180</span>
              <p class="fw-bold">Partners
  
              </p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="24000" data-purecounter-duration="2" class="purecounter">24000</span>
              <p class="fw-bold">Opportunities Shared</p>
            </div>
  
          </div>
        </div>
      </section>
      <!-- Pure Counter End -->

      <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
            <div class="text-center">
                <h2 class="fw-bold green-text mb-3">Meet The Team</h2>
            </div>
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            {% for t in team %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="{{t.profile_pic.url}}" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>{{t.name}}</h4>
                  <span>{{t.role}}</span>
                  <p>
                    {{t.bio}}
                  </p>
                  <div class="social">
                    <a href="{{t.twitter_link}}" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="{{t.facebook_link}}" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="mailto:{{t.email}}" target="_blank"><i class="bi bi-envelope"></i></a>
                    <a href="{{t.linkedin_link}}"><i class="bi bi-linkedin" target="_blank"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
  
        </div>
      </section><!-- End Trainers Section -->
      {% endblock %}