{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ahmadu Bello University | Developer Club. The ultimate developer school club">
    <meta content="ABUDevs is the ultimate developer student club, giving you access to awesome resources for free and helping you take your career to the next level" name="description">
    <meta content="developer, free, code, student, community, africa, tech, sdg" name="keywords">
    <link rel="shortcut icon" href="{% static 'assets/img/Abudevs New Logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/boxicons/css/boxicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/animate.css/animate.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <title>ABUDevs | {{title}}</title>
    <style>
        section{
            padding: 35px 0;
        }
    </style>
</head>
<body>
    <!--Nav Start-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark animate__animated animate__fadeIn">
        <div class="container-lg">
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}" class="navbar-brand text-sm-start">
                <img src="{% static 'assets/img/Abudevs New Logo.png' %}" alt="" width="65" height="65">
            </a>
            {% else %}
            <a href="{% url 'index' %}" class="navbar-brand text-sm-start">
                <img src="{% static 'assets/img/Abudevs New Logo.png' %}" alt="" width="65" height="65">
            </a>
            {% endif %}
            <button class="navbar-toggler" type="button"  type="button" data-bs-toggle="modal" data-bs-target="#work">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">Dashboard</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link">Register</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'blog' %}" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Nav End-->

    {% block content %}
    


    {% endblock %}

    <!--Modal Start-->
    <div class="modal fade" id="work" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><img src="{% static 'assets/img/Abudevs New Logo.png' %}" alt="" width="50" height="50"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link">Dashboard</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'register' %}" class="nav-link">Register</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'blog' %}" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Modal End-->


    <!-- Footer Start -->
    <footer id="footer">

        <div class="footer-top">
        <div class="container">
            <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
                <h3><img src="{% static 'assets/img/ABDVG.png' %}" width="250"></h3>
                <p>
                Ahmadu Bello University <br>
                Zaria, Kaduna<br>
                    <br><br>
                <strong>Phone:</strong> +234 91 5937 2550<br>
                <strong>Email:</strong> abudevs2019@gmail.com<br>
                </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                {% if user.is_authenticated %}
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
                {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
                {% endif %}
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">Team</a></li>
                {% comment %} <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> {% endcomment %}
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Guidance & Counselling</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'courses' %}">Study Jams</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Advertising</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Event Organization</a></li>
                </ul>
            </div>

            <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Join Our Newsletter</h4>
                <p>Join our Newsletter to receive daily updates on tech, career growth, hackathons and tech events</p>
                <form method="POST">
                <input type="email" name="email" required><input type="submit" value="Subscribe">
                </form>
            </div> -->

            </div>
        </div>
        </div>

        <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
            &copy; Copyright <strong><span>ABUDevs</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
            
            Designed and developed by <a href="mailto:tobiekundayo07@gmail.com">The Web Lead at ABUDevs(Tobi TheRevolutionary)</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter normal-text"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook normal-text"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram normal-text"></i></a>
            <!--<a href="" class="google-plus"><i class="bx bxl-skype"></i></a>-->
            <a href="#" class="linkedin"><i class="bx bxl-linkedin normal-text"></i></a>
        </div>
        </div>
    </footer><!-- End Footer -->

    <script src="{% static 'assets/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/aos/aos.js' %}"></script>
    <script>AOS.init();</script>
    <script src="{% static 'assets/purecounter/purecounter.js' %}"></script>
    <!-- Code written by Tobi TheRevolutionary hit me up on twitter if you come across any issues @tobitheprof. If I just so happen to not be the one editing this code in the future and the future handler just so happens to come across any problems while handling any of this, just hit me up and I'll do my best to explain, you can also send me an email on tobiekundayo07@gmail.com -->
    </body>
    </html>