{% extends 'base2.html' %}
{% load static %}
{% block content %}
<section id="courses" class="courses">
    <div class="container">
        <div class="text-start">
            <h3 class="green-text fw-bold">{{title}}</h3>
        </div>
        <div class="row">
          {% for a in course %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                  <img src="{{a.featured_image.url}}" class="img-fluid" alt="...">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4><a href="#" class="white-text">{{a.category}}</a></h4>
                    </div>
                    <h3><a href="/courses/{{a.slug}}">{{a.title}}</a></h3>
                    <p>{{a.description}}</p>
                    <a href="/courses/{{a.slug}}" class="btn btn-secondary btn-custom me-2 normal-text mb-3">Get Started</a>
                    <div class="trainer d-flex justify-content-between align-items-center">
                      <div class="trainer-profile d-flex align-items-center">
                        <i class="bi bi-person-fill"></i>
                        <span>{{a.author}}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div> <!-- End Course Item-->
          {% endfor %}

    </div>
</section>

{% endblock %}