    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <!--Hero Section-->
    <section id="intro" class="hero animate__animated animate__fadeIn">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 text-center text-md-start">
                    <h1 class="display-4 text-md-start"><span class="fw-bold" style="color: rgb(12, 131, 20);">ABU</span><span class="fw-bold" style="color: rgb(219, 39, 39);">Devs</span></h1>
                    <!-- <h4 class="text-muted justice">The ultimate community of developers</h4> -->
                    <p class="my-3 text-muted justice lead white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora perferendis adipisci et nostrum error quos numquam explicabo placeat eaque perspiciatis quas veniam cum, tempore debitis voluptate autem eos fuga nobis?</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-custom me-2 normal-text">Dashboard</a>
                    {% else %}
                    <a href="{% url 'register' %}" class="btn btn-secondary btn-custom me-2 normal-text">Join the Community</a>
                    {% endif %}
                </div>
                <div class="col-md-6 d-none d-md-block text-center">
                    <span class="goat" data-bs-placement="bottom" title="ABUDEVS">
                        <img src="{% static 'assets/img/hero_img.png' %}" alt="coffee bag" class="img-fluid">
                    </span>
                </div>
            </div>
        </div>
    </section>
    <!--Hero End-->

    <!-- Pure Counter Start -->
    <section id="counts" class="counts bg-light" data-aos="fade-in">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="50000" data-purecounter-duration="2" class="purecounter">i50000</span>
            <p class="fw-bold">Community</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="9800" data-purecounter-duration="2" class="purecounter">9800</span>
            <p class="fw-bold">Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="180" data-purecounter-duration="2" class="purecounter">180</span>
            <p class="fw-bold">Partners

            </p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="24000" data-purecounter-duration="2" class="purecounter">24000</span>
            <p class="fw-bold">Opportunities Shared</p>
          </div>

        </div>
      </div>
    </section>
    <!-- Pure Counter End -->

    <!-- Partners -->
    <section id="partners" class="">
        <div class="container-lg">
            <div class="text-center">
                <h2 class="green-text fw-bold">Our Partners</h2>
            </div>
            <div class="border-top mb-2 fw-bold"></div>
            <div class="row justify-content-center align-items-center">
                  <div class="col-lg-3 col-6 text-center">
                    <img src="{% static 'assets/img/580b57fcd9996e24bc43c51f.png' %}" alt="" class="img-fluid" width="200" height="100">
                  </div>
                  <div class="col-lg-3 col-6 text-center">
                    <img src="{% static 'assets/img/python-3-logo-png-transparent.png' %}" alt="" class="img-fluid" width="200" height="100">
                  </div>
                  <div class="col-lg-3 col-6 text-center">
                    <img src="{% static 'assets/img/ABDVB.png' %}" alt="" class="img-fluid" width="200" height="100">
                  </div>
                  <div class="col-lg-3 col-6 text-center">
                    <img src="{% static 'assets/img/dlf.pt-coursera-logo-png-3007379.png' %}" alt="" class="img-fluid" width="200" height="100">
                  </div>
            </div>
            <div class="border-bottom mt-2 fw-bold"></div>

        </div>
    </section>
    <!-- End -->

    <!-- What we do -->
    <section id="what-we-do">
        <div class="container-lg" data-aos="fade-up" data-aos-delay="300">
            <div class="text-center p-4">
                <h2 class="green-text fw-bold">What We Do</h2>
            </div>
            <div class="row justify-content-center align-items-center">

                <div class="col-md-3 col-sm-6 m-bottom-20 mb-3">              
                    <div class="service">               
                        <div class="service-icon">
                            <img src="{% static 'assets/img/juicy-man-programmer-writing-code-and-make-web-design-on-a-pc.gif' %}" alt="" class="img-fluid">
                        </div>
                        <h4 class="green-text fw-bold">Study Jams</h4>
                        <div class="">
                            <p>Study Jams are traning sessions we have that teach awesome digital skills like ML & AI, Web Development and so on</p>
                        </div>
                    </div>                   
                </div> 

                <div class="col-md-3 col-sm-6 m-bottom-20 mb-3">              
                    <div class="service">               
                        <div class="service-icon">
                            <img src="{% static 'assets/img/abstract-working-remotely.gif' %}" alt="" class="img-fluid">
                        </div>
                        <h4 class="green-text fw-bold">Networking</h4>
                        <div class="">
                            <p>With ABUDevs, you get to connect with like minds that'll help take your career to the next level</p>
                        </div>
                    </div>                   
                </div> 
                
                <div class="col-md-3 col-sm-6 m-bottom-20 mb-3">              
                    <div class="service">               
                        <div class="service-icon">
                            <img src="{% static 'assets/img/juicy-zoom-meeting.gif' %}" alt="" class="img-fluid">
                        </div>
                        <h4 class="green-text fw-bold">Opportunities</h4>
                        <div class="">
                            <p>ABUDevs gives upcoming developers the opportunity to expand thier career with the help of its partners.</p>
                        </div>
                    </div>                   
                </div> 

                <div class="col-md-3 col-sm-6 m-bottom-20 mb-3">              
                    <div class="service">               
                        <div class="service-icon">
                            <img src="{% static 'assets/img/juicy-girl-is-engaged-in-online-training.gif' %}" alt="" class="img-fluid">
                        </div>
                        <h4 class="green-text fw-bold">Free Resources</h4>
                        <div class="">
                            <p>We provide free resources like courses for people who want to learn new things or just want to develop their skills</p>
                        </div>
                    </div>                   
                </div> 
            </div>
        </div>
    </section>
    <!-- End -->


    <!-- About Us -->
    <section id="about" class="bg-light">
        <div class="container-lg">
            <div class="text-center">
                <h2 class="green-text fw-bold">About Us</h2>
            </div>
            <div class="row justify-content-center align-items-center">

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 order-md-2 mt-5">
                        <h2 class="featurette-heading"><span class="green-text fw-bold">What is ABUDevs?</span> <span class="text-muted">and how can it help me?</span></h2>
                        <p class="lead">ABUDevs is a student developer community based in Ahmadu Bello University, Zaria that aims to help student developers reach the peak of their career by providing them with the resources that they'd need to do so.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="{% static 'assets/img/slide03.jpg' %}" alt="image" class="img-fluid" width="500" height="500">
                    </div>
                </div>
                <!--Marketing Item End-->

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 mt-5">
                        <h2 class="featurette-heading header-color"><span class="green-text fw-bold">How do I join ABUDevs?</span> <span class="text-muted">It's really easy</span></h2>
                        <p class="lead">Joining the ABUDevs community isn't hard, all you need to do is <a href="{% url 'register' %}">sign up</a> and just like that, you're part of the family.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="{% static 'assets/img/slide02.jpg' %}" alt="image" width="500" height="500" class="img-fluid">
                    </div>
                </div>
                <!--Marketing Item End-->

                <!--Marketing Item Start-->
                <div class="row featurette mb-4 justify-content-center align-items-center mt-3" data-aos="fade-down" data-aos-delay="300" data-aos-offset="0">
                    <div class="col-md-7 order-md-2 mt-5">
                        <h2 class="featurette-heading header-color"><span class="green-text fw-bold">How do I connect with ABUDevs?</span> <span class="text-muted">It's quite simple</span></h2>
                        <p class="lead">Connecting with ABUDevs is really easy, all you need to do is send us a message via our <a href="{% url 'contact' %}">contact</a> form and we'll reach out to you.
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="{% static 'assets/img/slide01.jpg' %}" alt="hdfhjdf" class="img-fluid">
                    </div>
                </div>
                <!--Marketing Item End-->
            </div>
        </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
  
          <div class="text-center">
            <h2 class="green-text fw-bold">Testimonials</h2>
            <p>What are people saying about ABUDevs</p>
          </div>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="testimonial-wrap">
                    <div class="testimonial-item">
                    <img src="#" class="testimonial-img" alt="">
                    <h3>Agba Koda</h3>
                    <h4>Agba LTD</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        {% lorem 1 b random %}
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    </div>
                </div>
            </div><!-- End testimonial item -->
  
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                  <div class="testimonial-item">
                  <img src="#" class="testimonial-img" alt="">
                  <h3>Agba Koda</h3>
                  <h4>Agba LTD</h4>
                  <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      {% lorem 1 b random %}
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  </div>
              </div>
          </div><!-- End testimonial item -->
  
              
  
          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <div class="testimonial-item">
                <img src="#" class="testimonial-img" alt="">
                <h3>Agba Koda</h3>
                <h4>Agba LTD</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {% lorem 1 b random %}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                </div>
            </div>
          </div><!-- End testimonial item -->
  
          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <div class="testimonial-item">
                <img src="#" class="testimonial-img" alt="">
                <h3>Agba Koda</h3>
                <h4>Agba LTD</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {% lorem 1 b random %}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                </div>
            </div>
        </div><!-- End testimonial item -->
  
        <div class="swiper-slide">
          <div class="testimonial-wrap">
              <div class="testimonial-item">
              <img src="#" class="testimonial-img" alt="">
              <h3>Agba Koda</h3>
              <h4>Agba LTD</h4>
              <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {% lorem 1 b random %}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              </div>
          </div>
      </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  
    <!-- End -->
    {% endblock %}