<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ABUDevs</title>
</head>
<body>
    <h3>Welcome to ABUDevs</h3>
    <p>Hey there, congrats on joining the ABUDevs family, the ultimate developer student club where we shape the next generation of silicon's valley tech giants.</p>
    <p>First off, the team is glad to have you as a part of our family and we look forward to helping you achieve greatness.</p>
    <p>To help you reach your pinnacle as a developer, ABUDevs has separted into different parts the paths that you can take as a developer or designer to help you reach the peak of your craft. Below are some of the paths that you can take on ABUDevs</p>
    <ul>
        <li>Cloud Computing and Big Data</li>
        <li>Web Development</li>
        <li>Artificial Intelligence and Machine Learning</li>
        <li>UI/UX Design & Graphics Design</li>
        <li>Blockchain Technology</li>
    </ul>
    <p>All of the things above are but the surface of the suface's surface of the opportunities that ABUDevs will provide you with.</p>
    <p>we look forward to seeing you through your journey.</p>
    <p><strong>Best Regards,</strong></p>
    <p><i>The ABUDevs Team.</i></p>
</body>
</html>